<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar videojuegos</title>
</head>
<body>
    <h2>Lista de videojuegos</h2>

    {% for v in videojuegos %}
        <div>
            <p>Nombre: {{v.nombre}}</p>
            <p>Precio: {{v.precio}}</p>
            <p>Stock: {{v.stock}}</p>
            <p>Formato: {{v.formato}}</p>
            <p>Plataforma: {{v.plataforma}}</p>
        </div>
        <br>
    {% endfor %}
    
</body>
</html>