{% extends 'base.html' %} 

{% block titulo_principal %} <H2> CRUD : LIST</H2>{% endblock %}

{% block content %}
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Formato</th>
            <th>Plataforma</th>
        </tr>
    </thead>
    <tbody>
        {% for videojuego in object_list %}
        <tr>
            <th scope="row">{{ videojuego.nombre }} </th>
            <td>${{ videojuego.precio }}</td>
            <td>{{ videojuego.stock }}</td>
            <td>{{ videojuego.formato }}</td>
            <td>{{ videojuego.plataforma }}</td>

            <td><a class="btn btn-primary" href="{% url 'modificar_videojuego' videojuego.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'eliminar_videojuego' videojuego.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h1>No hay registros de videojuego</h1>
{% endif %} {% endblock %}