{% extends 'base.html' %} 

{% block titulo_principal %} <H2> CRUD : LIST</H2>{% endblock %}

{% block content %}
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Empresa</th>>
        </tr>
    </thead>
    <tbody>
        {% for consola in object_list %}
        <tr>
            <th scope="row">{{ consola.nombre }} </th>
            <td>${{ consola.precio }}</td>
            <td>{{ consola.stock }}</td>
            <td>{{ consola.empresa }}</td>

            <td><a class="btn btn-primary" href="{% url 'modificar_consola' consola.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'eliminar_consola' consola.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h1>No hay registros de videojuego</h1>
{% endif %} {% endblock %}